/*  
    text color   #A3A3A3
    color green  #30BC55
    border color #EBEBEB
border color blue #C2D8F2           
 nav 2   #FDFDFD

*/
@font-face {
  font-family: "Roboto";
  src: url(./fonts/RobotoFont/Roboto-Medium.ttf);
}
* {
  font-family: "Roboto" !important;
}
.bg-f7 {
  background-color: #f7f7f7;
}
.btn-green {
  background-color: #30bc55;
  color: #fff;
}
.btn-green:hover {
  background-color: #30bc55;
  color: #fff;
}
.fs-7 {
  font-size: 0.8rem;
}
.text-green {
  color: #30bc55;
}
.text-light-medium {
  color: #e2e2e2;
}
.offcanvas.offcanvas-end {
  width: 500px !important;
}
/* ============ rewrite bootstrap class ============ */
.form-select:focus,
.form-select:focus-visible {
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.form-control:focus,
.form-control:focus-visible {
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  box-shadow: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  color: #fff;
  content: "/";
}
.accordion-button:not(.collapsed) {
  background: none;
}
.accordion-button::after {
  background-image: url(./../images/down-icon.svg);
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./../images/up-icon.svg);
  transform: rotate(0deg);
}
/* ================ Navbar =>(nav menu) ==================== */

.navbar-brand_img {
  width: 60px;
  height: 60px;
}
.navmenu-basket {
  padding: 0 40px;
  position: relative;
  text-decoration: none;
  color: #000;
}
.navmenu-basket svg {
  width: 30px;
  height: 30px;
}
.navmenu-basket-badge {
  position: absolute;
  top: -12px;
  right: 25px;
  font-size: 16px;
  color: #fff;
  background: #30bc55;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navmenu-currency {
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 2px 30px;
  border-left: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
  text-transform: uppercase;
}
.navmenu-currency::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navmenu-language {
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 2px 30px;
  text-transform: uppercase;
}
.navmenu-language::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
@media only screen and (max-width: 768px) {
  .navmenu-basket {
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    color: #000;
  }
  .navmenu-basket svg {
    width: 20px;
    height: 20px;
  }
  .navmenu-basket-badge {
    position: absolute;
    top: -8px;
    right: 30px;
    font-size: 14px;
    color: #fff;
    background: #30bc55;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navmenu-currency {
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 2px 20px;
    border-left: 2px solid #e2e2e2;
    border-right: 2px solid #e2e2e2;
    text-transform: uppercase;
  }
  .navmenu-language {
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 2px 20px;
    text-transform: uppercase;
  }
}
/* ================ Navbar =>(brand menu) ==================== */

.navbrand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.navbrand-logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
  flex-wrap: nowrap;
  overflow: hidden;
}
.navbrand-logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 1.2rem;
  text-decoration: none;
  color: #000;
}
.navbrand-logo_img {
  height: 28px;
  padding-right: 10px;
}
.navbrand-logo_name {
  margin: 0;
}
.navbrand-more {
  color: #000;
  border-left: 1px solid;
  min-width: 200px;
  text-align: center;
}
.navbrand-more a {
  min-width: 130px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
.navbrand-more::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media only screen and (max-width: 768px) {
  .navbrand-logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
  }
  .navbrand-logo_name {
    font-size: 15px;
  }
  .navbrand-more {
    color: #000;
    border-left: 1px solid;
    min-width: 150px;
    text-align: center;
    font-size: 15px;
  }
}
/* ================ Header ==================== */

.header {
  background: gray;
  background-image: url(./../images/header/header-img-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.header-contents {
  color: #fff;
}
.header-contents_title {
  font-size: 50px;
}
.header-contents_text {
  font-size: 16px;
  width: 60%;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.header-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-form_contents {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  width: 100%;
  border-radius: 10px;
}
.header-form_select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 200px;
  outline: 0;
  border: 0;
  padding: 1.5rem 0.5rem;
}
.header-form_select option {
  outline: 0;
  border: 0;
}
.header-form_select_border {
  border: 0;
  border-radius: 10px 0 0 10px;
}
.header-form_btn {
  border: 0;
  background: #30bc55;
  width: 66px;
  border-radius: 0 10px 10px 0;
  color: #fff;
  font-size: 22px;
}
.header-form_btn:hover {
  background: #2a9948;
}

@media only screen and (max-width: 768px) {
  .header-contents_text {
    font-size: 14px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
}

/* ================== Support =================== */
.search-navbar_bg {
  background-color: #30bc55;
}
.search-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.search-navbar-select {
  background-color: #21a243;
  color: #fff;
  padding: 0.5rem 0.8rem;
  width: 180px;
  margin-right: 0.2rem;
  border: 1px solid #21a243;
  border-radius: 3px;
  outline: 0;
  position: relative;
}

.search-navbar-select_option {
  font-size: 1.2rem;
}

.search-navbar-btn {
  color: #30bc55;
  background: #fff;
  width: 110px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
}
.search-navbar-btn:hover {
  color: #fff;
  background: #30bc55;
  border: 1px solid #fff;
}
@media only screen and (max-width: 992px) {
  .search-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .search-navbar-selectbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .search-navbar-select {
    background-color: #21a243;
    color: #fff;
    padding: 0.5rem 0.8rem;
    width: 180px;
    margin-right: 0.2rem;
    border: 1px solid #21a243;
    border-radius: 3px;
    outline: 0;
    position: relative;
    margin-top: 1rem;
  }
  .search-navbar-btn {
    color: #30bc55;
    background: #fff;
    width: 110px;
    height: 40px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
    margin-top: 1rem;
  }
}
/* support */
.support-section {
  height: 60vh;
  padding-top: 1.5rem;
}
.support-bg {
  background-color: #494949;
  background-image: url(./../images/support-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumb-item-custom a {
  color: #fff;
  opacity: 65%;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  color: #fff;
  content: "/";
}
.support-topic {
  color: #fff;
  font-size: 40px;
  width: 100px;
  margin: 3.5rem auto;
}
/* cards */
.support-cards {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -150px;
  background: #fff;
}
.support-card {
  text-align: center;
  width: 280px;
  border: 2px solid #ebebeb;
  border-radius: 8px;
  padding-bottom: 1rem;
  margin: 1.5rem 0.2rem;
}
.support-card_icon {
  color: #30bc55;
  font-size: 6rem;
}
.support-card_title {
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.support-card_text {
  color: #30bc55;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
/* Credit Cart */
.credit-cart-bg {
  background-color: #494949;
  background-image: url(./../images/credit-cart-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.credit-cart-topic {
  color: #fff;
  font-size: 40px;
  width: 250px;
  margin: 3.5rem auto;
}
.credit-cart-accordion {
  border: 1px solid #ebebeb;
  padding: 1rem;
  position: relative;
  top: -90px;
  background: #fff;
  border-radius: 4px;
}
/* contact */

.contact-bg {
  background-color: #494949;
  background-image: url(./../images/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-topic {
  color: #fff;
  font-size: 40px;
  width: 250px;
  margin: 3.5rem auto;
}
.contact-form-part {
  border: 1px solid #ebebeb;
  padding: 1rem;
  position: relative;
  top: -90px;
  background: #fff;
  border-radius: 4px;
}
.contact-form-check-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-form_btn {
  width: 100px;
  height: 35px;
  border: 1px solid #30bc55;
  border-radius: 3px;
  background: #30bc55;
  color: #fff;
  margin-right: 1rem;
  transition: all 0.3s;
}
.contact-form_btn:hover {
  background: #fff;
  color: #30bc55;
}
.cominfo-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
}
.cominfo-card {
  width: 240px;
  text-align: center;
}
.cominfo-card_icon {
  font-size: 50px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #30bc55;
}
.cominfo-card_text {
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .contact-form-check-custom {
    display: block;
  }
  .contact-form_btn {
    width: 100px;
    height: 35px;
    border: 1px solid #30bc55;
    border-radius: 3px;
    background: #30bc55;
    color: #fff;
    margin-top: 2rem;
    transition: all 0.3s;
  }
  .cominfo-card {
    width: 180px;
    text-align: center;
  }
  .cominfo-card_icon {
    font-size: 35px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #30bc55;
  }
}

/* about */

.about-bg {
  background-color: #494949;
  background-image: url(./../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-topic {
  color: #fff;
  font-size: 40px;
  width: 240px;
  margin: 3.5rem auto;
}
.about-part {
  border: 1px solid #ebebeb;
  padding: 1rem;
  position: relative;
  top: -90px;
  background: #fff;
  border-radius: 4px;
}
.about-two-icon {
  font-size: 40px;
  color: #30bc55;
}
.about-two-text {
  font-size: 24px;
  text-transform: capitalize;
}
.about-two-imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.about-two-img {
  height: 30px;
  max-width: 150px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.about-two-border {
  border-left: 1px solid #ebebeb;
}
@media only screen and (max-width: 992px) {
  .about-two-border {
    border-left: 0;
  }
}
/* User Reviews */
.user-reviews-bg {
  background-color: #494949;
  background-image: url(./../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.user-reviews-topic {
  color: #fff;
  font-size: 35px;
  width: 250px;
  margin: 3.5rem auto;
}
.user-reviews-part {
  border: 1px solid #ebebeb;
  padding: 1rem;
  position: relative;
  top: -90px;
  background: #fff;
  border-radius: 4px;
}
.user-review-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 4px;
  padding: 2rem 1rem;
  background: #30bc55;
  background-image: url(./../images/user-review/map-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}
.user-review-card-left {
  max-width: 360px;
  color: #fafafa;
}
.user-review-cards-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #fafafa;
}
.user-review-card-right {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.user-review-card {
  padding: 1rem;
  text-align: center;
}

.user-review-img > img {
  width: auto;
  height: 25px;
}
.user-review-text {
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 1rem;
}
.user-review-stars {
  font-size: 14px;
  color: #edbf00;
}
.write-comment_btn {
  text-transform: capitalize;
  background: #30bc55;
  border: 1px solid #30bc55;
  padding: 1rem;
  margin: auto;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.write-comment_btn:hover {
  background: #2aa34b;
}
.comment-card {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 1.2rem;
}
.comment-card_img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 0.8rem;
}
.comment-card_name {
  font-size: 20px;
  text-transform: capitalize;
}
.comment-card_stars {
  font-size: 15px;
  color: #edbf00;
}
.comment-card_decription {
  line-height: 25px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 1.2rem;
}
.pagination-item {
  margin: 0 0.2rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: all 0.3s;
}
.pagination-item:hover:not(.pagination-active) {
  background-color: #30bc5540;
}
.pagination-item a {
  color: #000;
  text-decoration: none;
}
.pagination-active {
  background-color: #30bc55;
}
.pagination-active a {
  color: #fafafa;
}
/* offcanvasWriteComment */
.offcanvas-header-custom {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ebebeb;
}
.btn-close-custom {
  border: 1px solid #ebebeb !important;
  border-radius: 100% !important;
}
.btn-close-custom:focus,
.btn-close-custom:focus-visible {
  border: 1px solid #000;
  outline: 0 !important;
  box-shadow: none !important;
  opacity: none !important;
}
.offcanvas-from {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.offcanvas-from_input {
  border: 0;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  outline: none;
  padding: 0.3rem;
}
.offcanvas-textarea {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  outline: none;
  margin-top: 1.5rem;
  padding: 1rem;
}
.offcanvas-btn {
  width: 100%;
  background-color: #30bc55;
  border: 1px solid #30bc55;
  border-radius: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fafafa;
  text-transform: uppercase;
  font-size: 18px;
}
.offcanvas-btn:hover {
  background-color: #2aa34b;
  border: 1px solid #2aa34b;
}

@media only screen and (max-width: 425px) {
  .user-review-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;
    padding: 2rem 1rem;
    background: #30bc55;
    background-image: url(./../images/user-review/map-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
  }
  .user-review-cards-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: #fafafa;
  }
}
/* payment informtion */

.nav-custom {
  background-color: #fafafa;
}
.nav-link {
  color: #000000;
  /* padding: 1rem 1.5rem !important; */
  border-radius: 0 !important;
}
.nav-item > .completed {
  color: #30bc55 !important;
}
.nav-link:focus,
.nav-link:hover {
  color: inherit !important;
}
.tab-content-custom {
  border: 1px solid #dee2e6;
  border-top: 0;
}
.form-check-input {
  padding: 0;
}
.form-check-input:active {
  filter: none !important;
}
.form-check-input:focus,
.form-check-input:focus-visible {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.form-check-input {
  width: 1.3rem !important;
  height: 1.3rem !important;
}

.form-check-input:checked,
.form-check-input:focus,
.form-check-input:focus-visible {
  background-color: #fff;
  border-color: #dee2e6;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url(./../images/check.svg);
}
.pay-completed-icon {
  font-size: 90px;
  color: #30bc55;
  padding-top: 3rem;
}

/* baskt card */
.basket-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 1rem;
  width: 400px;
}
.basket-card-header {
  border-bottom: 1px solid #ebebeb;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.card-header_title {
  font-size: 20px;
  text-transform: capitalize;
}
.card-header_text {
  color: #747474;
  font-size: 14px;
}
.card-body-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 1.5rem;
}
.card-body_img {
  width: 90px !important;
  height: 90px !important;
}
.card-body_pro_info {
  padding-left: 10px;
}
.card-body_product_description {
  height: 35px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 17px;
}
.card-body_text {
  font-size: 13px;
  color: #747474;
  margin: 10px 0;
}
.card-body_discount {
  text-decoration: line-through;
  color: #747474;
  font-size: 14px;
}
.card-body_main_price {
  color: #30bc55;
  font-weight: 700;
  font-size: 18px;
}
.offercode {
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.offercode input {
  padding: 8px;
  width: 75%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  outline: none;
}
.offercode button {
  padding: 9px;
  width: 22%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.offercode button:hover {
  background: #30bc55;
}
.basket-card-footer {
  border-top: 1px solid #ebebeb;
  padding-top: 1.3rem;
}
.card-footer_offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #747474;
}
.card-footer_total {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #747474;
}
.card-footer_btn {
  margin-top: 1.5rem;
  width: 100%;
  display: block;
  height: 60px;
  border: 0;
  background: #30bc55;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 425px) {
  .basket-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
  }
  .card-header_title {
    font-size: 16px;
    text-transform: capitalize;
  }
  .card-header_text {
    color: #747474;
    font-size: 12px;
  }
  .offercode button {
    padding: 8px;
    width: 22%;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  .pay-footer-peymentway_icon {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 80%;
    margin-top: 1rem;
  }
}

/* ====================Footer========================= */
.footer-section {
  background-color: #fafafa;
  padding-top: 8rem;
}

.footer_title_one {
  font-size: 40px;
}
.footer_title_two {
  font-size: 40px;
  color: #30bc55;
}
.footer_text {
  width: 400px;
  font-size: 15px;
  text-align: center;
  margin: 1rem auto;
}
.footer-peymentway {
  padding: 5rem 0 2rem 0;
  text-align: center;
}
.footer-peymentway_icon {
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 80%;
}

@media only screen and (max-width: 562px) {
  .footer_title_one {
    font-size: 30px;
  }
  .footer_title_two {
    font-size: 30px;
    color: #30bc55;
  }
}
@media only screen and (max-width: 425px) {
  .footer_title_one {
    font-size: 20px;
  }
  .footer_title_two {
    font-size: 20px;
    color: #30bc55;
  }
  .footer_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 1rem auto;
  }
}

/* ----------------footer-navbar-----------------*/
.footer-navbar_brand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-navbar_brand p {
  margin-left: 2rem;
  margin-bottom: 0;
  font-size: 1rem;
}
.footer-navbar_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.footer-navbar_item {
  margin: 0.4rem;
}
.footer-navbar_item a {
  margin: 0.4rem;
  color: #000;
  text-decoration: none;
}
